.site-footer
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	padding-top: 50px
	padding-bottom: 100px
	.footer-wrapper
		display: flex
		justify-content: space-between
		align-items: center
		@media screen and (max-width: 768px)
			flex-direction: column
		.logo
			margin-top: -13px
			display: inline-block
			@media screen and (max-width: 992px)
				margin-bottom: 30px
		.footer-menu
			margin-top: 18px
			.footer-menu-list
				list-style-type: none
				@media screen and (max-width: 992px)
					display: flex
					flex-direction: column
					justify-content: center
					text-align: center
				li
					display: inline-block
					margin-right: 90px
					@media screen and (max-width: 992px)
						margin-right: 0
					&:last-child
						margin-right: 0
					a
						color: #f7ebdd
						display: inline-flex
						font-size: 18px
						text-decoration: none
						align-items: center
						@media screen and (max-width: 992px)
							margin-bottom: 30px
						i.fab
							margin-right: 8px
		.footer-button-wrapper
			justify-content: center
			align-content: center
			.footer-button
				display: inline-block
				text-decoration: none
				color: #f7ebdd
				border: 1px solid #f7ebdd
				border-radius: 5px
				padding: 10px 20px
				
// .site-footer
// 	background-size: cover
// 	background-position: center center
// 	background-repeat: no-repeat
// 	margin-top: 50px
// 	min-height: 113px
// 	.logo
// 		margin-top: 43px
// 		display: inline-block
// 	.footer-menu
// 		margin-top: 48px
// 		list-style-type: none
// 		li
// 			display: inline-flex
// 			margin-right: 90px
// 			&:last-child
// 				margin-right: 0
// 			a
// 				color: #f7ebdd
// 				display: inline-flex
// 				font-size: 18px
// 				text-decoration: none
// 				align-items: center
// 				i.fab
// 					margin-right: 8px
// 	.footer-button-wrapper
// 		justify-content: center
// 		align-content: center
// 		align-items: center
// 		.footer-button
// 			text-decoration: none
