.header
	margin-top: 50px
	min-height: 113px
	.logo
		margin-top: 43px
		display: inline-block
	.menu
		margin-top: 48px
		list-style-type: none
		li
			display: inline-flex
			margin-right: 90px
			&:last-child
				margin-right: 0
			a
				display: inline-flex
				font-size: 18px
				text-decoration: none
			&:nth-child(3)
				box-sizing: border-box
				a
					display: inline-block
					box-sizing: border-box
					background: -webkit-linear-gradient(#8a95d1, #5a0293)
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent
					border-radius: 5px
					padding: 0 20px
					box-shadow: -1px -1px 0 1px rgb(#8a95d1,0.25), -1px -1px 0 1px rgb(#8a95d1,0.25), 0 -1px 0 1px rgb(#8a95d1,0.5), 0 1px 0 1px rgb(#8a95d1,0.5), 1px -1px 0 1px rgba(#5a0293,0.25), 1px 1px 0 1px rgb(#5a0293,0.25), 1px 0 0 1px rgb(#5a0293,0.75)


